#cet {
    background-color: #ffffff;
    border: 3px solid #8da4cd;
    width:600px;
    height:250px;
    overflow: auto;
}

#pview {
    background-color: #ffffff;
    border: 3px solid #012860;
    width:600px;
    height:250px;
    overflow: auto;
}

div {
    text-align: left;
}
